{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello, Kenobi</title>
        <script type="text/javascript" src="{% static 'myApp/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'myApp/style.css' %}">
    </head>
    <body>
        <div id="kenobi" style="display: block;">
            <h3>Hello, Kenobi</h3>
        </div>
        <div id="anakin" style="display: none;">
            <h3>Hello, Skywalker</h3>
        </div>
        <button id="btn">Push Me</button>
    </body>
</html>
